.editor {
    display: flex;
    flex-direction: column;

    height: 415px;
    width: auto;

    color: var(--color-light-gray);
    font-size: 12px;
    font-weight: 500; // medium = 500
    
    border-radius: var(--md-raduis);
    box-shadow: var(--shadow-style);

    padding-left: 58px;
    padding-right: 30px;
    
    .paramsHeader {
        display: block;
        font-size: 16px;
        margin: 30px 0px;
    }

    span {
        margin-bottom: 0;
    }
}

.costAdvertising:nth-of-type(2) .paramsHeader {
    margin-left: 30px;
}

.salesBlock .paramsHeader {
    color: var(--color-dark-yellow);
}

.headerEditor {
    width: 100%;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid var(--color-price-type);

    span {
        font-size: 24px;
        font-weight: bold;
        color: var(--color-black);
    }
}

.editorContent {
    border-bottom: 1px solid var(--color-price-type);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.paramsChannel {
    width: 16.875rem; // должен быть фиксированным
}

.logoEditor {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 39px;
        height: 39px;

        margin: 15px;
    }
}

// ===== BUTTONS ====== //

.headerBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        width: 130px;
        height: 35px;
        border-radius: var(--l-raduis);
        font-size: 12px;
    }
}

.btnPublish {
    background-color: var(--color-dark-green);
    font-weight: 900; // black = 900
    font-family: inherit;
    margin-right: 20px;
    
    transition: background-color 0.4s ease;
}

.btnPublish:hover {
    background-color: var(--color-dark-green2);
}

.btnDraft {
    border: 1px solid var(--color-red);
    background-color: var(--color-white);
    color: var(--color-red);

    transition: background-color 0.5s ease;
}

.btnDraft:hover {
    background-color: var(--color-red);
    color: var(--color-white);
}

button:active {
    filter: brightness(0.9);
}

.btnDownload {
    width: 10.625rem;
    height: 1.4375rem;
    
    background: none;
    
    border-radius: var(--l-raduis);
    border: 1px solid var(--color-light-gray);
    box-shadow: var(--shadow-light);

    font-size: 10px;
    font-family: inherit;
    color: inherit;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.reloadBtn {
	background: none;

	display: flex;
	align-items: center;

	margin-left: 0.3125rem;
}

.reloadBtn:active img {
	animation: rotate 0.25s linear;
}

@keyframes rotate {
	to {
		transform: rotate(-360deg);
	}
}
.imgIcon {
	width: .625rem;
	height: .625rem;
}

// ============ //

.description {
    width: 10.625rem;
    height: 3.3125rem;
    border-radius: var(--l-raduis);
    border: 1px solid var(--color-light-gray);
    color: inherit;
    font-size: 12px;
    resize: none;
    box-shadow: var(--shadow-light);
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
}

.itemAdv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-price-type);
}
.advertisingContent:nth-of-type(3) .itemAdv {
    border: none;
}

// ======= Block 2 costAdvertising ======= //

.advertisingItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 332px;
    height: 35px;

    border-radius: .4375rem;
    border: 1px solid var(--color-light-gray);
    box-shadow: var(--shadow-light);

    overflow: hidden;
}

.btnCost {
    background-color: var(--color-light-gray);
    font-size: 12px;
    font-weight: 900;
    // width: 111px;
    width: 6.9375rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 0rem .3rem .3rem 0rem;
}

.btnSale {
    font-size: 12px;
    width: 4.375rem;
    border-left: 1px solid var(--color-light-gray);
    border-right: 1px solid var(--color-light-gray);
    height: 100%;
}

.inputCost {
    font-size: .75rem;
    margin-left: .75rem;
    font-size: 12px;
}

.priceType {
    width: 4.375rem;
    border-left: 1px solid var(--color-light-gray);
    border-right: 1px solid var(--color-light-gray);
    height: 100%;
}

.number {
    font-size: 16px;
    font-weight: bold;
    margin-right: 1.0625rem;
}

// ======= DropDown block2 ========= //

.dropDownWrapper {
    select {
        display: flex;
        align-items: flex-start;
	    align-items: center;
    }
}

// ======= Sales Block 3 ======= //

.salesBlock {
    
}

.salesContent {

}