// .switchWrapper input {
//     background-image: url('../../assets/icons/moon1.svg');
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;

//     border-radius: 2.8125rem;
//     width: 2.875rem;
//     height: 1.5rem;
  
//     border: .0625rem solid var(--color-switch);
//     transition: 0.2s all linear;
//     outline: none;

//     margin: 0rem;
//     cursor: pointer;
// }

// .switchWrapper input:checked {
//     background-color: var(--color-switch);

//     background-image: url('../../assets/icons/sun1.svg');
//     background-repeat: no-repeat;
//     background-position: center;
// }

.switchWrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: end;

    border-radius: 2.8125rem;
    width: 2.875rem;
    height: 1.5rem;
    cursor: pointer;
    background-color: var(--color-price-type);
    padding: .1875rem;

    // transition: 0.9s;

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.round {
    background-image: url('../../assets/icons/sun1.svg');
    background-color: var(--color-switch);
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50%;
    width: 1.125rem;
    // margin-right: .125rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

// .sun {
//     background-image: url('../../assets/icons/moon1.svg');
//     background-color: var(--color-switch);
//     background-repeat: no-repeat;
//     background-position: center;
    
//     border-radius: 50%;
//     width: 1.125rem;
//     // margin-left: .125rem;
//     cursor: pointer;
// }

.round:checked {
    background-image: url('../../assets/icons/moon1.svg');
    background-color: var(--color-white);

    translate: -125%;
    .switchWrapper {
        background-color: var(--color-switch);
        justify-content: start;
    }
}